#content {
    /*max-width: 1200px;*/
}

.project_main_container {
    max-width: 1000px;
}
.project_main_container ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
}
.project_main_container li {
    flex: 1;
    min-width: 0;
}
.project_container {
    width: 100%;
    background-size:cover;
    overflow:hidden;
}
.project_image {
    width: 100%;
}

.project_media {
    position:relative;
}

.project_media h2 {
    text-align:center;
    position:absolute;
    top:10%;
    width:100%;
    transform:translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    color:#FFFFFF;
    font-family:Arial;
    text-transform:uppercase;
    display:none;
}

.project_container:hover img {
    filter: brightness(0.3);
    -webkit-filter:brightness(0.3);
    -ms-filter:brightness(0.3);
}

.project_container:hover h2 {
    display:block;
}

.latest_posts {
    max-width: 1000px;
    margin-top: 2em;
}
.latest_posts h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.latest_posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.latest_posts li {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    gap: 0.75em;
}
.latest_posts_thumb {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 4px;
}
.latest_posts li a {
    text-decoration: none;
}
.latest_posts_more {
    margin-top: 0.75em;
}
.latest_posts_more a {
    text-decoration: none;
}

@media only screen and (max-width : 700px) {
    .project_main_container ul {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .project_container {
        width: 100%;
    }
    .project_container img {
        filter: brightness(0.8);
    }
    .project_container h2 {
        display: block;
        color: #CCC;
    }
}
